[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/usb-automount.sh add %i
ExecStop=/usr/local/bin/usb-automount.sh remove %i

# [Install]
# Alias=usb-auto-mount.service
